        *{
            padding: 0;
            margin: 0;
        }

        html:focus-within {
            scroll-behavior: smooth;
        }

        .nav-bar{
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-color: white;
            height: 65px;
            width: 100%;
            box-shadow: 4px 4px 10px #11235A;
        }

        .nav-content, .side-nav-content{
            text-decoration: none;
            color: #11235A;
            font-size: 22px;
            margin-right: 20px;
            padding: 10px 15px 10px 15px;
            border-radius: 5px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .logo{
            height: 50px;
            width: 85px;
        }

        .logo-ATC{
            margin-left: 20px;
        }

        .nav-content:first-child{
            margin-right: auto;
        }

        .nav-content:hover{
            box-shadow: 4px 4px 10px #11235A;
            color: #11235A;
            transition: 0.8s;
        }

        .side-bar{
            position: fixed;
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 330px;
            background-color: rgba(233, 233, 233, 0.874);;
            right: 0;
            top: 0;
            padding-top: 30px;
            padding-left: 30px;
            margin-right: -360px;
        }

        .close-icon{
            margin-left: 250px;
        }

        .menu-icon{
            display: none;
        }

        .menu:hover{
            background-color: white;
            color: #11235A;
        }

        .slider-container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 600px;
            width: 100%;
            position: absolute;
            margin-top: 70px;
            z-index: -1;
        }

        

        .swiper{
            height: 400px;
            width: 80%;
            margin-top: -60px;
        }

        swiper-slide {
            text-align: center;
            font-size: 18px;
            position: relative;
            background: #fff;
            display: flex;
            margin-top: -100px;
            justify-content: center;
            align-items: center;
        }

        .swiper-img{
            height: 400px ;
            width:50% ;
            margin-top: -250px;
        }

        .altoNew{
            height: 330px;
            width: 47%;
        }

        .alto{
            width: 52%;
        }


        .wagonRnew{
            height: 330px;
            margin-top: -265px;
        }

        .Stringrey{
            height: 370px;
            width: 47%;
            margin-top: -270px;;
        }

        .prius{
            height: 550px;
            width: 44%;
        }

        .aqua{
            width: 45%;
        }

        .premio{
            width: 52%;
            height: 340px;
        }

        .hiace{
            height: 380px;
            width: 45%;
            margin-top: -28px;
        }

        .hiaceNew{
            height: 435px;
        }

        .NewHiace{
            height: 340px;
            width: 42%;
        }

        .LankaBus{
            width: 40%;
            height: 400px;
            margin-top: -220px;
        }

        .miniBus{
            margin-top: -150px;
            height: 450px;
            margin-top: -380px;
        }

        
        .about-us-container{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position:absolute;
            margin-top: 662px;
            height: 672px;
            width: 100%;
            color: #11235A;
            background-color: #F0F0F075;
            z-index: -1;
        }

        .about-head, .service-head{
            display: flex;
            align-items: center;
            position: relative;
            margin-top: 15px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 30px;
            font-weight: bold;
            border-bottom: 2px solid #11235A;
            width: 82%;
            height: 65px;
        }

        .about-sub-head{
            position: relative;
            font-weight: 500;
            margin-top: 20px;
            width: 82%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px;
        }

        .about-grid{
            position: relative;
            height: 450px;
            display: grid;
            width: 82%;
            margin-top: 20px;
            grid-template-rows: 225px 225px;
            grid-template-columns: 35% 65%;
        }

        .box1{
            grid-area: 1/1/3/2;
        }

        .box2{
            display: flex;
            align-items: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }

        .box3{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .about-para{
            font-size: 17px;
        }

        .mission-para{
            margin-top: 20px;
        }

        .img-who-are-we{
            height: 400px;
            width: 90%;
            position: relative;
            object-fit: cover;
        }

        .service-container{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position:absolute;
            margin-top: 85%;
            height: 1200px;
            width: 100%;
            color: #F0F0F0;
            background-color: #11235A ;
            z-index: -1;
            
        }



        .service-head, .footer-head{
            display: flex;
            align-items: center;
            position: relative;
            margin-top: 25px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 30px;
            font-weight: bold;
            border-bottom: 2px solid #F0F0F0;
            width: 82%;
            height: 65px;
        }

        .service-grid{
            display: grid;
            grid-template-rows: 500px 500px;
            grid-template-columns: 33.33% 33.33% 33.33%;
            position: absolute;
            height: 900px;
            width: 82%;
            margin-top: 10%;
            margin-left: 20px;

        }

        .serviceBox{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-right: 40px;
            margin-bottom: 35px;
            /*border: 2px #F0F0F099 solid;*/
            border-radius: 10px;
            box-shadow: 2px 2px #F0F0F098;

        }


        .service-img{
            width: 90%;
            height: 200px;
            margin-top: 20px;
            object-fit: cover;
        }

        .service-para{
            width: 90%;
            margin-top: 25px;
            color: #F5F7F899;
            font-family: sans-serif;
            font-size: 16px;
            font-weight: normal;
            line-height: 0.6cm;
            
        }

        .service-sub-head{
            font-size: 25px;
            color: #F5F7F8;
            margin-top: 15px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            
            
        }

        .service-flex{
            display: flex;
            width: 90%;
            align-items: right;
        }

        .testimonial-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            height: 1000px;
            width: 100%;
            background-color: #F0F0F075;
            margin-top: 164%;
            z-index: -1;
        }

        .testimonial-head{
            display: flex;
            align-items: center;
            position: relative;
            margin-top: 15px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 30px;
            font-weight: bold;
            color: #11235A;
            border-bottom: 2px solid #11235A;
            width: 82%;
            height: 65px;
            margin-top: 60px;
        
        }

        swiper-container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
            height: 700px;
        }
    
        swiper-slide {
            background-position: center;
            background-size: cover;
            width: 270px;
            height: 500px;
            margin-top: 70px;
        }
    
        swiper-slide img {
            display: block;
            width: 100%;
            height: 500px;
            border-radius: 10px;
        }



        .footer-container{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 225%;
            height: 400px;
            width: 100%;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background-color: #11235A;
            z-index: -1;
        }

        .footer-head{
            color: #F0F0F0;
            margin-top: -10px;
        }

        .footer-grid{
            display: grid;
            width: 82%;
            grid-template-rows: 300px;
            grid-template-columns: 25% 25% 25% 25%;
            margin-top: 100px;
            margin-left: 70px;
        }

        .footer-sub-head, .footer-tags{
            font-size: 17px;
            color: #F0F0F0;
            line-height: 0.8cm;
        }

        .f2{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .f3{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }


        .f4{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .footer-ul, .footer-tags{
            padding: 0;
            margin: 0;
            margin-bottom: -10px;
            text-decoration: none;
        }

        .icon{
            color: white;

        }

        .footer-icons{
            padding: 8px;
            margin: 0;
        }

        .footer-ul{
            margin-top: 25px;
        }

        .tags{
            margin-top: -5px
        }

        li{
            list-style: none;
        }

    






        @media(max-width: 640px){
            
            .side-bar{
                display: flex;
            }

            .menu-icon{
                display: flex;
            }

            .nav-hide{
                display: none;
            }

            .about-us-container{
                margin-top: 85%;
                height: 120%;
            }

            .about-head, .service-head, .testimonial-head{
                font-size: 25px;
            }

            .about-sub-head{
                font-size: 15px;
            }

            .about-grid{
                display: block;
            }
            
            .img-who-are-we{
                width: 100%;
                height: 300px;
                margin-top: 10px;
            }

            .about-para{
                margin-top: 15px;
            }

            .our-mission{
                margin-top: 20px;
            }

            .mission-para{
                margin-top: 25px;
            }

            .about-para{
                font-size: 12px;
            }

            .slider-container{
                height: 500px;
            }


            .about-us-container{
                margin-top: 570px;
                height: 760px;
            }

            .service-container{
                margin-top: 365%;
                height: 420%;
                
            }

            .service-grid{
                display: block;
                margin-top: 150PX;
                margin-left: 0px;
            }

            .serviceBox{
                height: 450PX;
                width: 100%;
                align-items: center;
                margin-bottom: 60px;
                box-shadow: 2px 2px 3px 3px;
                
            }

            .service-img{
                width: 90%;
                height: 200px;
            
            }

            .service-sub-head{
                font-size: 20px;
            }

            .service-para{
                font-size: 12px;
            }

            .testimonial-container{
                margin-top: 1185.5%;
            }

            

            swiper-container {
                width: 85%;
                padding-top: 40px;
                padding-bottom: 50px;
                z-index: 0;
            }

            swiper-slide {
                background-position: center;
                background-size: cover;
                width: 300px;
                height: 600px;
                border-radius: 18px;
                
            }
            
            swiper-slide img {
                display: block;
                width: 100%;
                height: 600px;
                border-radius: 18px;
            }

            .footer-container{
                margin-top: 1600%;
                height: 900px;
                font-size: 15px;
                z-index: -1;
            }

            .footer-grid{
                display: block;
                margin-top: -10px;
            }

            .footer-box{
                margin-bottom: 80px;
                
            }

            .f4{
                margin-left: -10px;
            }

            .slider-container{
                height: 400px;
            }

            .swiper-img{
                height: 200px ;
                width:70% ;
                margin-top: -310px;
            }

            .altoNew{
                width: 80%;
            }

            .alto{
                height: 250px;
                width: 80%;
            }

            .prius{
                height: 360px;
                margin-top: -330px;
            }

            .wagonRnew{
                width: 80%;
            }

            .Stringrey{
                margin-top: -330px;
                height: 250px;
                width: 75%;
            }

            .aqua{
                height: 250px;
                width: 75%;
                margin-top: -330px;
            }

            .premio{
                width: 85%;
                height: 220px;
                margin-top: -330px;
            }

            .hiaceNew{
                height: 270px;
                width: 85%;
                margin-top: -345px;
            }

            .NewHiace{
                margin-top: -345px;
            }

            .miniBus{
                height: 300px;
                margin-top: -450px;
                width: 85%;
            }

            .LankaBus{
                margin-top: -330px;
            }

            .testimonial-container{
                height: 1600px;
            }


            




        }
